---
authority-key-pair:
  path: {{ node_authority_key_path }}
protocol-key-pair:
  path: {{ node_protocol_key_path }}
network-key-pair:
  path: {{ node_network_key_path }}
account-key-pair:
  path: {{ node_account_key_path }}
db-path: {{ node_authorities_data_dir }}
network-address: /ip4/0.0.0.0/tcp/{{ iota.validator.ports.network_address_port }}/http
metrics-address: "0.0.0.0:{{ iota.validator.ports.metrics_port }}"
admin-interface-address: "127.0.0.1:{{ iota.validator.ports.admin_interface_port }}"
consensus-config:
  db-path: {{ node_consensus_data_dir }}
  internal-worker-address: null
enable-event-processing: false
p2p-config:
  listen-address: "0.0.0.0:{{ iota.validator.ports.p2p_port }}"
  external-address: /dns/{{ iota.validator.external_address }}/udp/{{ iota.validator.ports.p2p_port }}
  anemo-config:
    max-concurrent-connections: 0
genesis:
  genesis-file-location: {{ node_genesis_file_path }}
authority-store-pruning-config:
  num-latest-epoch-dbs-to-retain: 3
  epoch-db-pruning-period-secs: 3600
  num-epochs-to-retain: 1
  max-checkpoints-in-batch: 5
  max-transactions-in-batch: 1000
end-of-epoch-broadcast-channel-capacity: 128
checkpoint-executor-config:
  checkpoint-execution-max-concurrency: 200
  local-execution-timeout-sec: 10
db-checkpoint-config:
  perform-db-checkpoints-at-epoch-end: false
indirect-objects-threshold: 18446744073709551615
metrics:
  push-interval-seconds: 60
  push-url: https://metrics-proxy.testnet.iota.cafe:8443/publish/metrics
state-archive-read-config:
  - object-store-config:
      object-store: "S3"
      aws-endpoint: "https://archive.testnet.iota.cafe"
      aws-virtual-hosted-style-request: true
      object-store-connection-limit: 20
      no-sign-request: true
    concurrency: 5
    use-for-pruning-watermark: false
